node_modules/
cache
artifacts
deployments/localhost
dist/
.env
build/*
!build/deployments/1
!build/deployments/5
!build/deployments/137
!build/deployments/map.json
__pycache__
/typechain/
.hypothesis/
